@keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
  }
  div.transitionButton {
    background-color: red;
    animation-name: example;
    animation-duration: 4s;
  }